
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-10 col-md-7">
        <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block  bg-login-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="name" name="name"
                                       placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="surname" name="surname"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="username" name="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                                <input type="password" class="form-control form-control-user"
                                       id="userpass" name="userpass" placeholder="Password">
                        </div>
                        <hr>
                        <button type="submit" class="btn  btn btn-primary btn-user btn-block">Register</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="login.html">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
 </div>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="edit">
   
    <table>
        <tr hidden>
            <td>Id: </td>
            <td><input type="text" id="Id" name="Id"  /></td>
        </tr>
        <tr>
            <td>Username: </td>
            <td><input type="text" id="username" name="username"  /></td>
        </tr>
        <tr>
            <td>Userpass: </td>
            <td><input type="text" id="userpass" name="userpass"  /></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td><input type="text" id="name" name="name"  /></td>
        </tr>
        <tr>
            <td>Surname: </td>
            <td><input type="text" id="surname" name="surname" /></td>
        </tr>
        <tr>
            <td>Role Id: </td>
            <td><input type="text" id="roleId" name="roleId"  /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <hr />
</form>